body {
    background-color: lightblue;
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .responsive {
    width: 100%;
    max-width: 900px;
    height: auto;
  }