*{box-sizing: border-box;}







.dropbtn {
  background-color:  rgb(6, 39, 74);
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;

  border-style: solid;
  border-width: 1px;
  border-color: white;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: pink;
}


.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e096a0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(6, 39, 74);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Nixie One', cursive;
    font-size: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.flex-home {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-home-left {

  padding: 10px;
  flex: 50%;
  
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.flex-home-right {

  padding: 10px;
  flex: 50%;

  border-style: solid;
  border-width: 1px;
  border-color: white;
}




.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {

  padding: 10px;
  flex: 50%;
  
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.flex-item-right {

  padding: 10px;
  flex: 50%;

  border-style: solid;
  border-width: 1px;
  border-color: white;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}



body {
    background-color: rgb(6, 39, 74);
  }
  
  h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Rammetto One', cursive;

    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    color: white;
    text-align: center;
    font-family: 'Smokum', cursive;
  }

  h3 {
    color: white);
    ;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Rammetto One', cursive;

    font-size: 60px;
    line-height: 100px;
  }
  
  
  p {
    color: white;
    text-align: center;
    font-family: 'Nixie One', cursive;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
  }

  

  .responsive {
    width: 100%;
    max-width: 700px;
    height: auto;
  }

  .homeimages
  {
    width: 50%;
    max-width: 700px;
    height: auto;
  }

  header {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .logo { flex: 1; }
  .logoheader{
    width: 50%;

    max-width: 200px;
    height: auto;
    padding: 30px;

  
  }

  .emailform{
    color: white;
    font-family: 'Nixie One', cursive;
    font-size: 15px;
    padding-left: 20px;
  }

  .mapouter{
      position: relative;
      text-align:right;
      height:responsice;
      width:600px;}
      
.gmap_canvas {
    overflow:;
    background:none!important;
    height:500px;
    width:600px;}


    .hero-image {
      background-image:  url("images/wallpaper2.jpg");
      height: 80%;
      z-index: -1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      border-style: solid;
        border-width: 1px;
        border-color: white;
      }
      
      .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      }


