body {
    background-color: rgb(6, 39, 74);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
  }

  .responsive {
    width: 100%;
    max-width: 700px;
    height: auto;
  }

  .logoheader{
    width: 50%;
    max-width: 200px;
    height: auto;
    padding: 30px;
  }

  .emailform{
    color: white;
    font-family: verdana;
    font-size: 20px;
    padding-left: 20px;
  }